# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# Database Files
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary Files
# =========================
temp/
tmp/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Testing
# =========================
.pytest_cache/

# =========================
# Generated Graph Files
# =========================
*.html
